<!DOCTYPE html>
<html lang="en">
	<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is social network html5 template available in themeforest......" />
		<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
		<meta name="robots" content="index, follow" />
		<title>Beranda | Sistem Approval PT. Aartijaya</title>

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/ionicons.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="js/jquery-3.1.1.min.js" />
        <link href="css/emoji.css" rel="stylesheet">
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png"/>
	</head>
  <body>

    <!-- Header
    ================================================= -->
      <!--<header id="header">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index-register.html"><img src="images/logo.png" alt="logo" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Beranda <span><img src="images/down-arrow.png" alt="" /></span></a>
                <ul class="dropdown-menu newsfeed-home">
                  <li><a href="index.html">Landing Page 1</a></li>
                  <li><a href="index-register.html">Landing Page 2</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Permintaan <span><img src="images/down-arrow.png" alt="" /></span></a>
                <ul class="dropdown-menu newsfeed-home">
                  <li><a href="newsfeed.html">Newsfeed</a></li>
                  <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                  <li><a href="newsfeed-friends.html">My friends</a></li>
                  <li><a href="newsfeed-messages.html">Chatroom</a></li>
                  <li><a href="newsfeed-images.html">Images</a></li>
                  <li><a href="newsfeed-videos.html">Videos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kotak Masuk <span><img src="images/down-arrow.png" alt="" /></span></a>
                <ul class="dropdown-menu login">
                  <li><a href="timeline.html">Timeline</a></li>
                  <li><a href="timeline-about.html">Timeline About</a></li>
                  <li><a href="timeline-album.html">Timeline Album</a></li>
                  <li><a href="timeline-friends.html">Timeline Friends</a></li>
                  <li><a href="edit-profile-basic.html">Edit: Basic Info</a></li>
                  <li><a href="edit-profile-work-edu.html">Edit: Work</a></li>
                  <li><a href="edit-profile-interests.html">Edit: Interests</a></li>
                  <li><a href="edit-profile-settings.html">Account Settings</a></li>
                  <li><a href="edit-profile-password.html">Change Password</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Pages <span><img src="images/down-arrow.png" alt="" /></span></a>
                <ul class="dropdown-menu page-list">
                  <li><a href="index.html">Landing Page 1</a></li>
                  <li><a href="index-register.html">Landing Page 2</a></li>
                  <li><a href="newsfeed.html">Newsfeed</a></li>
                  <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                  <li><a href="newsfeed-friends.html">My friends</a></li>
                  <li><a href="newsfeed-messages.html">Chatroom</a></li>
                  <li><a href="newsfeed-images.html">Images</a></li>
                  <li><a href="newsfeed-videos.html">Videos</a></li>
                  <li><a href="timeline.html">Timeline</a></li>
                  <li><a href="timeline-about.html">Timeline About</a></li>
                  <li><a href="timeline-album.html">Timeline Album</a></li>
                  <li><a href="timeline-friends.html">Timeline Friends</a></li>
                  <li><a href="edit-profile-basic.html">Edit Profile</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="faq.html">FAQ Page</a></li>
                  <li><a href="404.html">404 Not Found</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="contact.html">Contact</a></li>
            </ul>
            <form class="navbar-form navbar-right hidden-sm">
              <div class="form-group">
                <i class="icon ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Cari Request...">
              </div>
            </form>
          </div><!-- /.navbar-collapse
        </div><!-- /.container
      </nav>
    </header>-->
    <!--Header End-->

    <div id="page-contents">
    	<div class="container-fluid">
    		<div class="row">

          <!-- Newsfeed Common Side Bar Left
          ================================================= -->
          <!-- Masukan Side Bar Kiri di sini -->			
        <!--  
        <div class="col-md-2 static">
            <div class="profile-card">
            	<img src="http://placehold.it/300x300" alt="user" class="profile-photo" />
            	<h5><a href="timeline.html" class="text-white">Ahmad Fariz</a></h5>
            	<!--<a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
            	<a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 25 Request</a>
            </div><!--profile card ends
            <ul class="nav-news-feed">
              <li><i class="icon ion-ios-paper"></i><div><a href="newsfeed.html">Halama Utama</a></div></li>
              <li><i class="icon ion-ios-people"></i><div><a href="newsfeed-people-nearby.html">Tambah Permintaan</a></div></li>
              <li><i class="icon ion-ios-people-outline"></i><div><a href="newsfeed-friends.html">Daftar Permintaan</a></div></li>
              <li><i class="icon ion-chatboxes"></i><div><a href="newsfeed-messages.html">Kotak Masuk</a></div></li>
              <!--<li><i class="icon ion-images"></i><div><a href="newsfeed-images.html">Images</a></div></li>
              <li><i class="icon ion-ios-videocam"></i><div><a href="newsfeed-videos.html">Videos</a></div></li>-->
            </ul><!--news-feed links ends
            
            <div class="suggestions" id="sticky-sidebar">
                <h5 class="grey"><b>Status Permintaan Anda</b></h5>
              <div class="follow-user">
                <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="timeline.html">Budiman Adi Wibawa</a></h5>
                  <a href="#" class="text-green">Menyetujui Request Anda</a>
                </div>
              </div>
              <div class="follow-user">
                <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="timeline.html">Irwan </a></h5>
                  <a href="#" class="text-green">Menyetujui Request Anda</a>
                </div>
              </div>
              <div class="follow-user">
                <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="timeline.html">Purchasing</a></h5>
                  <a href="#" class="text-green">Add friend</a>
                </div>
              </div>
              <div class="follow-user">
                <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="timeline.html">Finance</a></h5>
                  <a href="#" class="text-green">Add friend</a>
                </div>
              </div>
              </div>
            <!--<div id="chat-block">
              <div class="title">Chat online</div>
              <ul class="online-users list-inline">
                <li><a href="newsfeed-messages.html" title="Linda Lohan"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                <li><a href="newsfeed-messages.html" title="Sophia Lee"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                <li><a href="newsfeed-messages.html" title="John Doe"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                <li><a href="newsfeed-messages.html" title="Alexis Clark"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                <li><a href="newsfeed-messages.html" title="James Carter"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                <li><a href="newsfeed-messages.html" title="Richard Bell"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                <li><a href="newsfeed-messages.html" title="Anna Young"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
                <li><a href="newsfeed-messages.html" title="Julia Cox"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
              </ul>
            </div>--><!--chat block ends
          </div>-->
    			<div class="col-md-12">

            <!-- Post Content
            ================================================= -->
            <h3> Transaksi Pembelian </h3>
            <div class="post-content">
              <!--<img src="http://placehold.it/1920x1280" alt="post-image" class="img-responsive post-image" />-->
                
                <div class="post-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-xs-3">
                            <label for="lastname">Supplier</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="supplier">
                                <option selected> Pilih Kontak </option>
                                <option value="ATK"> ATK </option>
                                <option value=""> Toiletries </option>
                                <option> Marketing </option>
                                <option> IT </option>
                                <option> Packaging </option>
                            </select>
                              <!--<input id="lastname" class="form-control input-group-lg" type="text" name="lastname" title="Enter last name" placeholder="Last name" value="Doe" />-->
                         </div>

                        <div class="form-group col-xs-3">
                            <label for="email"> Email</label>
                            <input id="email" class="form-control input-group-lg" type="text" name="email" />
                        </div>
                        
                        <div class="form-group col-xs-3">
                            <label for="firstname"> </label>
                                <div class="custom-control custom-switch text-left">
                                <input type="checkbox" class="custom-control-input" id="infoPengiriman" onclick="myFunction()">
                                <label class="custom-control-label" for="switch1"> <strong> Info Pengiriman? </strong></label>
                                &nbsp; &nbsp;
                            </div>
                        </div>
                        
                        <div class="form-group col-xs-3">
                            <h2 align="right"> <strong>Total Rp. 0,00</strong></h2>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group col-xs-12">
                                    <label for="textarea"> Alamat Supplier </label>
                                    <textarea placeholder="Deskripsi" class="form-control" id="textarea" rows="5" name="alamatSupplier"> </textarea>
                                </div>
                                
                                <div class="form-group col-xs-12" id="alamatPengirimanDiv" style="display: none">
                                    <label for="textarea"> Alamat Pengiriman </label>
                                    <textarea placeholder="Deskripsi" class="form-control" id="textarea" rows="5" name="alamatPengiriman"> </textarea>
                                </div>
                            </div>
                            
                            <div class="col-md-2">
                                <div class="form-group col-xs-12">
                                    <label for="Tgl Transaksi"> Tgl Transaksi</label>
                                    <input id="tglTransaksi" class="form-control input-group-lg" type="date" name="tglTransaksi" placeholder="Tanggal Transaksi"/>
                                </div>
                                
                                <div class="form-group col-xs-12">
                                    <label for="tglJatuhTempo"> Tgl Jatuh Tempo</label>
                                    <input id="tglJatuhTempo" class="form-control input-group-lg" type="date" name="tglJatuhTempo" />
                                </div>
                                
                                <div class="form-group col-xs-12">
                                    <label for="syaratPembayaran">Syarat Pembayaran</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="syaratPembayaran">
                                        <option selected> Custom </option>
                                        <option value="ATK"> Custom </option>
                                        <option value=""> Cash on Delivery </option>
                                        <option> Net 60 </option>
                                        <option> Net 30 </option>
                                        <option> Net 15 </option>
                                    </select>
                                      <!--<input id="lastname" class="form-control input-group-lg" type="text" name="lastname" title="Enter last name" placeholder="Last name" value="Doe" />-->
                                 </div>
                            </div>
                            
                            <div class="col-md-2">
                                <div class="form-group col-xs-12" id="tglPengirimanDiv" style="display: none">
                                    <label for="tglPengiriman"> Tgl Pengiriman</label>
                                    <input id="tglPengiriman" class="form-control input-group-lg" type="date" name="tglPengiriman" />
                                </div>
                                
                                <div class="form-group col-xs-12" id="kirimMelaluiDiv" style="display: none">
                                    <label for="kirimMelalui"> Kirim Melalui</label>
                                    <input id="kirimMelalui" class="form-control input-group-lg" type="text" name="kirimMelalui" />
                                </div>
                                
                                <div class="form-group col-xs-12" id="noPelacakanDiv" style="display: none">
                                    <label for="noPelacakan">No Pelacakan</label>
                                    <input id="noPelacakan" class="form-control input-group-lg" type="text" name="noPelacakan" />
                                 </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group col-xs-12">
                                    <label for="noTransaksi"> No. Transaksi </label> &nbsp; 
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Nomor transaksi akan dihitung secara otomatis oleh sistem. Klik di sini untuk mengatur nomor transaksi. Perkiraan Nomor: xx/xx/xxxx/x/xx"><span class="fa fa-cogs"></span></a>
                                    
                                    <input id="noTransaksi" class="form-control input-group-lg" type="text" name="noTransaksi" title="Nomor Transaksi" placeholder="[Auto]"/>
                                </div>
                                
                                <div class="form-group col-xs-12">
                                    <label for="noReferensi"> No. Referensi Supplier </label>
                                    <input id="noReferensi" class="form-control input-group-lg" type="text" name="noReferensi" title="Nomor Referensi" />
                                </div>
                            </div>
                            
                            <div class="col-md-2">
                                <div class="form-group col-xs-12">
                                    <label for="tag"> Tag </label>
                                    <input id="tag" class="form-control input-group-lg" type="text" name="tag" title="Tag" />
                                </div>
                                
                                <div class="form-group col-xs-12">
                                    <label for="Gudang">Gudang</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="gudang">
                                        <option selected> Pilih Gudang </option>
                                        <option value="ATK"> Custom </option>
                                        <option value=""> Cash on Delivery </option>
                                        <option> Net 60 </option>
                                        <option> Net 30 </option>
                                        <option> Net 15 </option>
                                    </select>
                                      <!--<input id="lastname" class="form-control input-group-lg" type="text" name="lastname" title="Enter last name" placeholder="Last name" value="Doe" />-->
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    <div class="row">
                        <div class="custom-control custom-switch text-right">
                            <label class="custom-control-label" for="switch1"> <strong> Harga Termasuk Pajak </strong></label>
                            &nbsp; &nbsp;
                            <input type="checkbox" class="custom-control-input" id="switch1">
                        </div>
                       
                        <div class="table-responsive-lg">      
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"> Produk </th>
                                        <th scope="col"> Deskripsi </th>
                                        <th scope="col"> Kuantitas </th>
                                        <th scope="col"> Satuan </th>
                                        <th scope="col"> Harga Satuan </th>
                                        <th scope="col"> Pajak </th>
                                        <th scope="col"> Jumlah </th>
                                        <th scope="col">  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"> 
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected> Pilih Kontak </option>
                                                <option value="ATK"> Custom </option>
                                                <option value=""> Cash on Delivery </option>
                                                <option> Net 60 </option>
                                                <option> Net 30 </option>
                                                <option> Net 15 </option>
                                            </select> 
                                        </th>
                                        
                                        <th> 
                                            <textarea placeholder="Deskripsi" class="form-control" id="textarea" rows="1"> </textarea>
                                        </th>
                                        <th> 
                                            <input id="kuantitas" class="form-control input-group-lg" type="text" name="kuantitas" title="Kuantitas" />
                                        </th>
                                        <th>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected> Pilih Kontak </option>
                                                <option value="ATK"> Custom </option>
                                                <option value=""> Cash on Delivery </option>
                                                <option> Net 60 </option>
                                                <option> Net 30 </option>
                                                <option> Net 15 </option>
                                            </select>
                                        </th>
                                        <th> 
                                            <input id="hargaSatuan" class="form-control input-group-lg" type="text" name="hargaSatuan" title="Harga Satuan" />
                                        </th>
                                        
                                        <th>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected> Pilih Pajak </option>
                                                <option value="ATK"> PPN </option>
                                                <option value=""> Pajak Sarana Withholding </option>
                                            </select>
                                        </th>
                                        
                                        <th> 
                                            <input id="hargaSatuan" class="form-control input-group-lg" type="text" name="hargaSatuan" title="Harga Satuan" />
                                        </th>
                                        <th> <a href=""> - </a> </th>
                                    </tr>
                                    
                                    <tr>
                                        <th scope="row"> 
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected> Pilih Kontak </option>
                                                <option value="ATK"> Custom </option>
                                                <option value=""> Cash on Delivery </option>
                                                <option> Net 60 </option>
                                                <option> Net 30 </option>
                                                <option> Net 15 </option>
                                            </select> 
                                        </th>
                                        
                                        <th> 
                                            <textarea placeholder="Deskripsi" class="form-control" id="textarea" rows="1"> </textarea>
                                        </th>
                                        <th> 
                                            <input id="kuantitas" class="form-control input-group-lg" type="text" name="kuantitas" title="Kuantitas" />
                                        </th>
                                        <th>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected> Pilih Kontak </option>
                                                <option value="ATK"> Custom </option>
                                                <option value=""> Cash on Delivery </option>
                                                <option> Net 60 </option>
                                                <option> Net 30 </option>
                                                <option> Net 15 </option>
                                            </select>
                                        </th>
                                        <th> 
                                            <input id="hargaSatuan" class="form-control input-group-lg" type="text" name="hargaSatuan" title="Harga Satuan" />
                                        </th>
                                        
                                        <th>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected> Pilih Pajak </option>
                                                <option value="ATK"> PPN </option>
                                                <option value=""> Pajak Sarana Withholding </option>
                                            </select>
                                        </th>
                                        
                                        <th> 
                                            <input id="hargaSatuan" class="form-control input-group-lg" type="text" name="hargaSatuan" title="Harga Satuan" />
                                        </th>
                                        <th> <a href=""> - </a> </th>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                      </div>
                    
                      <div class="row">
                            <div class="form-group col-xs-2">
                                <button type="button" class="btn btn-primary">
                                  <span class="fa fa-plus"></span> Tambah 
                                </button>
                            </div>
                        </div>
                        
                     <div class="row">
                         <div class=" col-xs-12 col-md-6">
                             <div class="form-group col-xs-12 col-md-7">
                                <label for="textarea"> Pesan </label>
                                <textarea placeholder="Deskripsi" class="form-control" id="textarea" rows="5"> </textarea>
                             </div>

                             <div class="form-group col-xs-12 col-md-7">
                                <label for="textarea"> Alamat Supplier </label>
                                <textarea placeholder="Deskripsi" class="form-control" id="textarea" rows="5"> </textarea>
                            </div>

                             <div class="form-group col-xs-12 col-md-7">
                                 <label for="textarea"> <span class="fa fa-paperclip"> </span> Lampiran </label>
                                 <input id="lampiran" class="form-control" type="file" name="lampiran" title="Lampiran" multiple/>
                            </div>
                         </div>
                         
                         <!--<div class="col-md-2">
                            <div class="form-group col-xs-12 text-right">
                                <label>  </label>
                            </div>
                            
                            <div class="form-group col-xs-12 text-right">
                                <label>  </label>
                            </div>
                            
                            <div class="form-group col-xs-12 align-right inline">
                                 <button id="show" onclick="document.getElementById('potongan').style.display='block';document.getElementById('tom').style.display='block'">Masukan Jumlah Potongan</button>
                                
                                 <select class="form-control pull-right" id="potongan" style="display: none">
                                    <option selected> Pilih Pajak </option>
                                    <option value="ATK"> PPN </option>
                                    <option value=""> Pajak Sarana Withholding </option>
                                </select>
                            </div>
                          </div>-->
                         
                          <div class="col-xs-12 col-md-6">
                              <div class="row">
                                  <div class="col-md-5">
                                  </div>
                                  <div class = "col-xs-6 col-md-4">
                                      <div class = "row">
                                        <div class = "col-md-12">
                                            <label for="textarea"> Subtotal </label>
                                        </div>
                                          
                                        <div class = "col-md-12">
                                            <label for="textarea"> Diskon Per Baris </label>
                                        </div>
                                          
                                        <div class = "col-md-12">
                                            <label for="textarea"> Diskon </label>
                                            <input id="diskon" class="form-control input-group-sm" type="text" name="diskon" title="Diskon" />
                                        </div>
                                          
                                        <div class = "col-md-12">
                                            <label for="textarea">  
                                                <button class = "btn btn-success" value="%">%</button>
                                                <button class = "btn btn-success" value="Rp.">Rp.</button>
                                            </label>
                                        </div>
                                          
                                        <div class = "col-md-12">
                                            <label for="textarea"> Total </label>
                                        </div>
                                          
                                        <div class = "col-md-12">
                                            <label for="textarea"> Uang Muka </label>
                                        </div>
                                          
                                        <div class = "col-md-12">
                                            <h4> Sisa Tagihan </h4>
                                        </div>
                                      </div>                                     
                                  </div>
                                  
                                  <div class = "col-xs-6 col-md-3 text-right">
                                      <div class = "row">
                                        <div class = "col-md-12">
                                            <label for="textarea"> Rp 0,00 </label>
                                        </div>
                                          
                                        <div class = "col-md-12">
                                            <label for="textarea"> Rp 0,00 </label>
                                        </div>
                                          
                                        <div class = "col-md-12">
                                           <label for="textarea"> Rp 0,00 </label>
                                        </div>
                                          
                                        <div class = "col-md-12">
                                            <label for="textarea"> Rp 0,00 </label>
                                        </div> 
                                          
                                        <div class = "col-md-12">
                                            <label for="textarea">  </label>
                                        </div>
                                          
                                        <div class = "col-md-12">
                                            <label for="textarea"> Rp 0,00 </label>
                                        </div> 
                                          
                                        <div class = "col-md-12">
                                            <label for="textarea"> <input id="diskon" class="form-control input-group-sm" type="text" name="diskon" title="Diskon" /> </label>
                                        </div>
                                          
                                        <div class = "col-md-12">
                                            <h4> Rp 0,00 </h4>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                           </div>
                     </div>
                    
                    <div class="row">
                        <div class="col-md-11">
                             <div class="form-group col-xs-12 text-right">
                                <button type="button" class="btn btn-danger">
                                  <span class="fa fa-close"></span> Batal 
                                </button>
                                 
                                <div class="btn-group dropup">
                                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Buat Pembelian
                                  </button>
                                  <div class="dropdown-menu">
                                    <ul>
                                      <li><a href="timeline.html">Buat Pembelian</a></li>
                                      <li><a href="timeline-about.html">Buat & Baru</a></li>
                                    </ul>
                                  </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--
                        <div class="form-group col-xs-6">
                            <label for="firstname"> Tanggal Dibutuhkan</label>
                            <input id="firstname" class="form-control input-group-lg" type="date" name="firstname" title="Enter first name" placeholder="Tanggal Dibutuhkan" value="John" />
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="textarea"> Deskripsi </label>
                            <textarea placeholder="Deskripsi" class="form-control" id="textarea" rows="5"> </textarea>
                        </div>
                        <div class="form-group col-xs-6">
                            <button type="button" class="btn btn-success"> TAMBAH </button>
                        </div>
                        -->
                    </div>
                </div>
                    <!--<div class = "col-md-12">
                        <div class="form-group col-xs-6">
                        <label for="firstname"> No. Permintaan</label>
                        <input id="firstname" class="form-control input-group-lg" type="text" name="firstname" title="Enter first name" placeholder="No. Permintaan" value="" />
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="lastname" class="">Tanggal Permintaan</label>
                        <input id="lastname" class="form-control input-group-lg" type="text" name="lastname" title="Enter last name" placeholder="Tanggal Permintaan" value="" />
                      </div>
                        <div class="form-group col-xs-6">
                            <label for="firstname"> Tanggal Dibutuhkan</label>
                            <input id="firstname" class="form-control input-group-lg" type="date" name="firstname" title="Enter first name" placeholder="Tanggal Dibutuhkan" value="John" />
                        </div>
                      <div class="form-group col-xs-6">
                        <label for="lastname">Jenis Permintaan</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option selected> Pilih Jenis Permintaan </option>
                            <option> 1 </option>
                            <option> 2 </option>
                            <option> 3 </option>
                            <option> 4 </option>
                            <option> 5 </option>
                        </select>
                          <!--<input id="lastname" class="form-control input-group-lg" type="text" name="lastname" title="Enter last name" placeholder="Last name" value="Doe" />
                      </div>
                        <div class="form-group col-xs-12">
                            <label for="textarea"> Deskripsi </label>
                            <textarea placeholder="Deskripsi" class="form-control" id="textarea" rows="5"> </textarea>
                        </div>
                        <div class="form-group col-xs-6">
                            <button type="button" class="btn btn-success"> TAMBAH </button>
                      </div>
                    </div>-->
                </div>
              </div>
            </div>

    <!-- Footer
    ================================================= -->
    <footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-3 col-sm-3">
              <a href=""><img src="images/logo-black.png" alt="" class="footer-logo" /></a>
              <ul class="list-inline social-icons">
              	<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h5>For individuals</h5>
              <ul class="footer-links">
                <li><a href="">Signup</a></li>
                <li><a href="">login</a></li>
                <li><a href="">Explore</a></li>
                <li><a href="">Finder app</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Language settings</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h5>For businesses</h5>
              <ul class="footer-links">
                <li><a href="">Business signup</a></li>
                <li><a href="">Business login</a></li>
                <li><a href="">Benefits</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Advertise</a></li>
                <li><a href="">Setup</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h5>About</h5>
              <ul class="footer-links">
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3">
              <h5>Contact Us</h5>
              <ul class="contact">
                <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
                <li><i class="icon ion-ios-email-outline"></i>info@thunder-team.com</li>
                <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
              </ul>
            </div>
          </div>
      	</div>
      </div>
      <div class="copyright">
        <p>Thunder Team © 2016. All rights reserved</p>
      </div>
		</footer>
    
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    
    <!-- Scripts
    ================================================= -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky-kit.min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/script.js"></script>
      
    <script>
        $(document).ready(function(){
          /*$("#hide").click(function(){
            $("p").hide();
          });*/
          $("#show").click(function(){
            $("#show").hide();
          });
        });
        
        function myFunction(){
            // Ambil nilai checkbox
            var checkBox = document.getElementById("infoPengiriman");
            
            // Ambil Output
            var alamatPengirimanDiv = document.getElementById("alamatPengirimanDiv");
            var tglPengirimanDiv = document.getElementById("tglPengirimanDiv");
            var kirimMelaluiDiv = document.getElementById("kirimMelaluiDiv");
            var noPelacakanDiv = document.getElementById("noPelacakanDiv");
            
            if(checkBox.checked == true){
                alamatPengirimanDiv.style.display = "block";
                tglPengirimanDiv.style.display = "block";
                kirimMelaluiDiv.style.display = "block";
                noPelacakanDiv.style.display = "block";
            }else{
                alamatPengirimanDiv.style.display = "none";
                tglPengirimanDiv.style.display = "none";
                kirimMelaluiDiv.style.display = "none";
                noPelacakanDiv.style.display = "none";
            }
        }

        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
  </body>
</html>
